---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Star from "../assets/star-svgrepo-com.svg";
import Reviews from "../assets/review_blanco.png";

const reviews = await getCollection("reviews");
---

<section aria-label="Review de usuarios" class="fine-section" id="customers">
  <div class="container">
    <div class="reviews-header">
      <Image src={Reviews} alt="Reviews" class="reviews-image" width={150} />
    </div>
    <div class="reviews-container">
      {
        reviews.map(async (review : any) => {
          const { user, img, rating, comment, date, link, services } =
            review.data;

          return (
            <article class="review-card">
              <div class="customer-pic">
                <div class="circular-image">
                  <div class={`bg-${img}`} />
                </div>
              </div>
              <div class="customer-testimony">
                <h4 class="h3-title comment">{comment}</h4>
                <p class="cursive">{services}</p>
                <div>
                  {[...Array(rating)].map((_, index) => (
                    <Image src={Star} alt="Estrella" width={15} height={15} />
                  ))}
                  {link && (
                    <p>
                      <a href={link}> {date} </a>
                    </p>
                  )}
                </div>
                <p class="author">{user}</p>
              </div>
            </article>
          );
        })
      }
    </div>
  </div>
</section>

<style lang="scss">
  .bg-agosto2024 {
    width: 60px;
    height: 60px;
    background: url("reviews_sprites.png") -5px -5px;
  }

  .bg-diciembre2024 {
    width: 60px;
    height: 60px;
    background: url("reviews_sprites.png") -75px -5px;
  }

  .bg-junio2024 {
    width: 60px;
    height: 60px;
    background: url("reviews_sprites.png") -5px -75px;
  }

  .bg-mayo2024 {
    width: 60px;
    height: 60px;
    background: url("reviews_sprites.png") -75px -75px;
  }

  .bg-enero2024 {
    width: 60px;
    height: 60px;
    background: url("reviews_sprites.png") -145px -5px;
  }

  .bg-noviembre2024 {
    width: 60px;
    height: 60px;
    background: url("reviews_sprites.png") -145px -75px;
  }

  .bg-octubre2024 {
    width: 36px;
    height: 36px;
    background: url("reviews_sprites.png") -5px -145px;
  }

  .fine-section {
    background-color: var(--accent);
    .container {
      position: relative;
      margin: 0 auto;
      max-width: 1200px; /* Adjust this value as needed */
      padding: 20px 20px;
    }
  }

  .reviews-header {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }

  .reviews-image {
    width: 150px; /* Adjust the size as needed */
    transform: rotate(-10deg); /* Rotate the image */
  }

  .reviews-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .review-card {
    flex: 1 1 calc(40% - 20px); /* Make cards wider */
    box-sizing: border-box;
    padding: 10px; /* Reduce padding */
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Ensure content does not overflow */
    border-width: thick;
  }

  .circular-image img {
    width: 80px; /* Make images smaller */
    height: 80px; /* Make images smaller */
    object-fit: cover;
    border-radius: 50%;
  }
  .comment {
    font-size: 1.875rem; /* Adjust font size as needed */
  }
  .customer-testimony {
    overflow: hidden; /* Ensure content does not overflow */
  }

  @media (max-width: 768px) {
    .review-card {
      flex: 1 1 calc(45% - 20px);
    }
  }

  @media (max-width: 480px) {
    .review-card {
      flex: 1 1 100%;
    }
  }
</style>
